{% extends 'base.html' %}
{% block content %}
{% load static %}

<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Thunder Seeker Home</title>
</head>

<body class="second">
	<button class="btn-toggle">light</button>
	</br>
	<div>
		<img id='search-logo' src="{% static 'assets/logo.svg' %}" alt="Thunder" class="center">
		<input type="text" id="homeInput" class="query" name="query" onkeyup="suggest()" placeholder="Search All resources..." checked>
		<div style='display: grid;grid-template-columns: 2fr 1fr;width: 50%;margin: auto;'>
			<div class="search-button">
				<input type="submit" id="search_button" class="large-button" name="search" value="search">
			</div>
			<div>
				<div><info>Trine Only</info></div>
				<label class="switch trine-toggle" id='home-toggle'>
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
</body>

</html>

{% endblock %}
