{% extends 'base.html' %}
{% block content %}
{% load static %}

<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Thunder Seeker Home</title>
</head>

<body class="second">
	<button class="btn-toggle">Theme</button>
	</br>
	<div>
		<img id='search-logo' src="{% static 'assets/logo.svg' %}" alt="Thunder" class="center">
		<input type="text" id="homeInput" class="query" name="query" onkeyup="suggest()" placeholder="Search All resources..." checked>
		<div style='display: grid;grid-template-columns: 2fr 1fr;width: 50%;margin: auto;'>
			<div class="search-button">
				<input type="submit" id="search_button" class="large-button" name="search" value="search">
			</div>
			<div>
				<div>
					<info>Trine Only</info>
				</div>
				<label class="switch trine-toggle" id='home-toggle'>
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
	<!--	Color Editor widget		-->
<div id='color-picker-widget' class='widget-canvas' title='Color Modifier'>
	<div style='display:grid; grid-template-columns: 3fr 1fr;'>
		<div class='input-container'>
			<label>Main Background Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="main-background-color-input">
		</div>
		<div class='input-container'>
			<label>Toggle Button Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="toggle-button-color-input">
		</div>
		<div class='input-container'>
			<label>Toggle Button Text Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="toggle-button-text-color-input">
		</div>
		<div class='input-container'>
			<label>Second Background Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="second-background-color-input">
		</div>
		<div class='input-container'>
			<label>Highlight Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="highlight-color-input">
		</div>
		<div class='input-container'>
			<label>Search Bar Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="search-bar-color-input">
		</div>
		<div class='input-container'>
			<label>Main Text Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="main-text-color-input">
		</div>
		<div class='input-container'>
			<label>Info Text Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="info-text-color-input">
		</div>
		<div class='input-container'>
			<label>URL Text Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="url-text-color-input">
		</div>
		<div class='input-container'>
			<label>Title Text Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="title-text-color-input">
		</div>
		<div class='input-container'>
			<label>Title Text Hover Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="title-text-hover-color-input">
		</div>		
		<div class='input-container'>
			<label>Title Text Visited Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="title-text-visited-color-input">
		</div>
		<div class='input-container'>
			<label>Padding Color</label>
		</div>
		<div>
			<input type="color" class='color-input' id="padding-color-input">
		</div>
	</div>
	<div style='display: inline'>
		<div class='btn center' id='save-button'>Save</div>
		<div class='btn center' id='reset-button'>Reset</div>
		<div class='btn center' id='light-button'>Light</div>
		<div class='btn center' id='dark-button'>Dark</div>
	</div>
</div>
{% endblock %}

</body>

</html>
