:root {
    --main-button-color: #0;
    --toggle-button-color: #0;
    --toggle-button-text-color: #0;
    --main-bg-color: #0;
    --second-bg-color: #0;
    --search-bar: #0;
    --main-text: #0;
    --info-text: #0;
    --url-text: #0;
    --title-text: #0;
    --title-text-hover: #0;
    --title-text-visit: #0;
    --padding-color: #0;
}

.second {
    background-color: var(--second-bg-color);
}

url {
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.3;
    color: var(--url-text);
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
    display: inline-block;
    padding-bottom: 1px;
    padding-top: 1px;
    font-weight: normal;
    font-family: Roboto,arial,sans-serif;
    margin: 0;
    text-align: left;
}

.result {
    min-height: 4em;
    padding: 10px;
    margin: 10px;
    background-color: var(--padding-color);
    border: solid 1px var(--info-text);
}


.results {
    width: 60em;
	margin-left: 3em;
	margin-top: 7em;
}

title-result {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    line-height: 1.373;
    max-width: 100%;
    font-family: Google Sans,arial,sans-serif;
    letter-spacing: 0.3px;
    position: relative;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,.10);
    cursor: pointer;
    text-align: right;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: var(--title-text);
}

a:visited {
    text-decoration: none;
    color: var(--title-text-visit);
}

a:hover {
    text-decoration: none;
    color: var(--title-text-hover);
}

a:active {
    text-decoration: none;
    color: var(--title-text-visit);
}

info {
    line-height: 1.58;
    max-width: 48em;
    color: var(--info-text);
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    border: 0;
    padding-top: 10px;
}

.top-bar {
    background-color: var(--main-bg-color);
	border-bottom: solid 1px var(--info-text);
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	z-index: 3;
}

#center {
    margin: auto;
    width: 100%;
    padding: 10px;
    display: block;
    text-align: -webkit-center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    margin-top: 10em;
}

#left {
    margin: auto;
    width: 14em;
    padding: 10px;
    display: inline-block;
}

.left {
    display: inline-block;
    margin-left: 5%;
    width: 3em;
    float: left;
    padding-top: 0.9em;
    padding-right: 0.9em;
}

.information-box {
    width: 320px;
    margin: auto;
    color: black;
}

input:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border: 1px solid black;
    border-radius:16px;
    background-color: white;
}

    .textbox input {
        border: none;
        outline: none;
        background: none;
        color: black;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

.btn {
    background: none;
    border: 2px solid #023d61;
    color: white;
    background-color: #023d61;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.header h1 {
    color: grey;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    position: absolute;
    padding-left: 2%;
    top: -.5%;
}

.accountbar {
    background-color: lightgrey;
    height: 32px;
    margin-top: 0px;
}

body {
    margin: 0px;
}

    body.dark-theme {
    }

@media (prefers-color-scheme: dark) {
    body {
    }

        body.light-theme {
        }
}

.btn-toggle {
    float: right;
    margin-top: 1%;
    margin-right: 1em;
    background: none;
    border: 2px solid #023d61;
    color: var(--toggle-button-text-color);
    background-color: var(--toggle-button-color);
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#homeInput {
	background-image: url(/static/assets/searchicon.png);
    background-size: 20px;
    background-position: 12px 10px;
    background-repeat: no-repeat;
    background-color: var(--search-bar);
    width: 40em;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid lightgrey;
    border-radius: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: var(--main-text);
    font-family: sans-serif;
}

#resultsInput {
    background-image: url(/static/assets/searchicon.png);
    background-size: 20px;
    background-position: 12px 10px;
    background-repeat: no-repeat;
    background-color: var(--search-bar);
    width: 20em;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid lightgrey;
    margin-top: 1em;
    border-radius: 24px;
    margin-bottom: 12px;
    color: var(--main-text);
    font-family: sans-serif;
    display: inline;
}



