{% extends 'base.html' %}

{% block content %}

{% load static %}

<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Seek Results</title>
</head>

<body class="second">
	<div class="top-bar">
		<div class='grid-item1'>
			<form method="GET" action="/search/"></form>
			<div>
				<a href="/">
					<img src="{% static 'assets/logo.svg'%}" alt="Thunder" class="left" href="">
				</a>
			</div>
			<div>
				<input type="text" id="resultsInput" class="query" name="query" placeholder="Search All resources..."
					value="{{query}}">
			</div>
		</div>
		<div class='grid-item2'>
			<div>
				<input type="submit" id="image_button" class="btn" name="images" value="search images"
					style='margin-right: 15px;'>
			</div>
		</div>
		<div class='grid-item3'>
			<div class='results-function-container'>
				<div style='padding-top: 5px;'>
					<info>Trine Only</info>
				</div>
				<label class="switch trine-toggle" id='results-toggle'>
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
			<div id="voiceresult" class='voice-button-container'>
				<div id='home-mic-up'>
					<img class='voice-button' id='voiceimage' src={% static "assets/mic.svg" %}>
				</div>
			</div>
		</div>
		<div class='top-bar-last'>
			<button id="search_button" class="btn" name="search" style='float:right;margin:1%;'>All</button>
			<button class="btn-toggle">Theme</button>
		</div>
	</div>


	<div class="results-container">
		{% ifnotequal correction|stringformat:"s" query %}
		<info class=''>
			‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Did you mean: <a href="?query={{correction}}">{{correction}}?</a>
		</info>
		{% endifnotequal %}
		<div class=''>
			<info>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎{{num_results}} Results in {{time}} seconds</info>
		</div>
		{% if results == 'None' %}
		<div class='result'>
			<info>No results found for <b>"{{query}}"</b> on this page. Please go back a few pages.</info>
		</div>
		{% elif results %}
		{% if lucky %}
		<script>
			window.location = "{{ results.0.url }}";
		</script>
		{% endif %}
		<div style="width: 90vw;">
			{% for result in results %}
			<a href="{{ result.source_url }}">
				<img alt="Blocked" src="{{ result.image_url}}" width="200vh" height="auto"
					style="vertical-align: middle; max-width: 15vw; padding: 10px">
			</a>
			{% endfor %}
		</div>
		{% else %}
		<div class='result'>
			<info>No results found for <b>"{{query}}"</b>. Please try again with different keywords.</info>
		</div>
		{% endif %}
	</div>
	{% if pages|length > 1 %} ‎‎‏‏‎ ‎‎
	<div>
		‎‏‏‎{% for page in pages %}
		<title-result>
			<a style="padding-left: 10px; padding-right: 10px;" href='?query={{correction}}&page={{page}}'>
				‎{{page}}‎‏‏‎
			</a>
		</title-result>
		{% endfor %}
		<br>
		</br>
	</div>
	{% endif %}

</body>
<script>
	if (window.matchMedia("(max-width: 800px)").matches) {
		var top_bar = $('.top-bar');
		var height = top_bar.outerHeight() - top_bar.find('.grid-item3').outerHeight();
		$(window).scroll(function () {
				if ($(this).scrollTop() > height) { //use `this`, not `document`
					$('.grid-item3').hide();
				} else {
					$('.grid-item3').show();
				}
		});
	}
</script>

</html>


{% endblock %}